@font-face {
  font-family: PingFangReg;
  src: url(../assets/fonts/reg.otf);
}
@font-face {
  font-family: PingFangBold;
  src: url(../assets/fonts/bold.otf);
}
@font-face {
  font-family: DIN;
  src: url(../assets/fonts/DIN-RegularAlternate.otf);
}
